<h1>Welcome to the Krusty Krab!</h1>
<img src="./assets/img/krabbypatty400x400.jpg">

<h2>Eat-Da-Burger!</h2>
<form class="create-form">

  <!--Need to append new burgers here and add "devour" btn-->
  <ul>
    {{#each burgers}}
    <li>
      <p>{{this.id}}.{{this.burger_name}}</p>
      <button type="submit">Devour It!</button>
    </li>
    {{/each}}
  </ul>

  <!--Need to add area for devoured burgers (after "devour" btn is hit)-->

  <form action="/" method="POST">
    <textarea type="text" name="burger_name"></textarea>

    <button type="submit">Submit</button>
    <p>Enter a burger you want to eat then click the "Submit" button</p>
  </form>